.coverage
# W&B
wandb/
artifacts/
# MLflow
mlruns/
mlartifacts/
# Data and Models
/data/
outputs/
# Python
__pycache__/
*.pyc
.pytest_cache/
.venv/
# Github
dashboard.html
dashboard_latest.png
simulation_log.json
tmp/

# Tiny Lidar Net Data
ad_components/control/tiny_lidar_net/data/
ad_components/control/tiny_lidar_net/checkpoints/
