[importlinter]
root_package = core
include_external_packages = True

[importlinter:contract:1]
name = Core Independence
type = forbidden
source_modules =
    core
forbidden_modules =
    simulator_core
    simulator_kinematic
    simulator_dynamic
    experiment_runner
    experiment_training
    ad_component_core
    pure_pursuit
    planning_utils
    pid_controller
    dashboard
