[tool.uv]
managed = true

[tool.uv.workspace]
members = [
    "packages/core",
    "packages/simulators",
    "packages/components",
    "packages/tools",
    "packages/experiment_runner",
    "experiments/pure_pursuit_tracking",
    "experiments/imitation_learning",
]
